.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}

.box {
  width: 2rem;
  height: 2rem;
  border: 2px solid;
}
